body {
  height: auto;
  width: auto;
  margin: auto;
  background-size: cover;
  background: linear-gradient(
    9deg,
    rgba(229, 243, 255, 1) 0%,
    rgba(135, 201, 249, 1) 53%,
    rgba(87, 154, 252, 1) 100%
  );
}

/*<-----------App.js--------->*/

h1 {
  color: aliceblue;
  text-align: center;
  font-size: 50px;
}

.nav-bar {
  background: #2982c1;
  padding: 20px;
  width: 100%;
  position: fixed;
  top: 0px;
}

/*<-----------FORM.jsx--------->*/
.provide-details {
  text-align: center;
  margin: 0;
  font-size: xx-large;
  padding-top: 20px;
  padding-bottom: 10px;
}

.card {
  background: aliceblue;
  display: flex;
  flex-direction: column;
  margin-left: 20%;
  margin-right: 20%;
  padding: 10px;
  box-shadow: 10px 10px 10px rgb(32, 52, 53);
}

/*<-----------CONFRIMED.jsx--------->*/
.confirmed-prompt {
  border-radius: 4px;
  background-color: cadetblue;
  box-shadow: 10px 10px 10px rgb(32, 52, 53);
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  position: relative;
  transition: all 0.5s;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  margin: 5px;
}

/*<-----------REVIEW.jsx--------->*/

.prompt {
  border-radius: 4px;
  background-color: cadetblue;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  position: relative;
  transition: all 0.5s;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  cursor: pointer;
  margin: 5px;
}

.prompt span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.prompt span:after {
  content: "\00bb \ edit";
  position: absolute;
  color: black;
  opacity: 0;
  top: 0;
  right: -80px;
  transition: 1s;
}

.propmpt:after {
  width: 100%;
}

.prompt:hover span {
  padding-right: 105px;
}

.prompt:hover span:after {
  opacity: 1;
  right: 0;
}

/*<-----------DateTime.jsx +++ UserDetails.jsx--------->*/
.date-time {
  border: solid 30px cadetblue;
  background: aliceblue;
  padding: 10px;
}

.smokers label {
  display: block;
  text-align: center;
}
.user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border: solid 30px cadetblue;
  background: aliceblue;
  padding: 10px;
}

input[type="text"] {
  transition: width 0.6s ease-in-out;
  width: 250px;
  font-size: 20px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="text"]:focus {
  width: 300px;
  border: 3px solid #555;
}

.center {
  text-align: center;
}

button {
  width: 30%;
  color: white;
  padding: 14px 20px;
  margin: 18px 0;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #2982c1;
  font-size: 20px;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

button:hover {
  background-color: #05385c;
}

button:active {
  background-color: #2982c1;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.disabled-button {
  color: grey;
  background: darkgray;
}

p {
  text-align: center;
  color: red;
  font-size: 25px;
  font-style: italic;
}

.space-available {
  text-align: center;
  margin: 20px;
  font-size: 30px;
  color: #05385c;
}

select {
  padding: 8px 12px;
  color: #333333;
  background: #eeeeee;
  border: 1px solid #dddddd;
  cursor: pointer;
  border-radius: 5px;
  margin: 20px;
  font-weight: 900;
  appearance: none;
  line-height: 100px;
  font: inherit;
  font-size: 20px;
  text-align-last: center;
}

select:focus,
select:hover {
  outline: none;
  border: 1px solid #bbbbbb;
}

option {
  -webkit-appearance: menulist-button;
  height: 50px;
}

.birthday {
  text-align: center;
}

.new-time {
  display: flex;
  justify-content: space-around;
}

.error {
  position: relative;
  text-align: center;
  font-style: italic;
  color: lightslategray;
  font-size: 20px;
  border-style: double;
  padding: 20px;
}

label {
  font-size: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
}

form {
  margin: 15px;
  flex: 1 1 250px;
}

/*<-----------GUESTS.jsx--------->*/
.selectors {
  text-align: center;
  display: flex;
}

.child-warning {
  background: aliceblue;
  position: fixed;
  width: 100vh;
  top: 730px;
  left: 592px;
  font-size: x-large;
  padding: 90px 100px;
  animation: fade1 0.5s;
  border: 5px solid orange;
  z-index: 1;
}

@keyframes fade1 {
  0% {
    opacity: 0.5;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

/*--------DEV TOOLS ------*/
h3 {
  color: white;
  text-align: center;
}

h4 {
  color: white;
}

.dev-panel {
  width: 20%;
  position: absolute;
  top: 90px;
  right: -95px;
}

.open-dev-panel {
  position: fixed;
  background: #2a82c1;
  flex-direction: column;
  padding: 30px;
  border: solid 5px black;
  height: 800;
  text-align: start;
}

.dev-button {
  color: white;
  padding: 14px 20px;
  margin: 18px 20px;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #6f6f6f;
  font-size: 15px;
  border: none;
  border-radius: 15px;
  box-shadow: 0 4px #999;
}

.dev-button:hover {
  background-color: #333333;
}
